.menu{
    background-color: cadetblue
}
.menu h1{
    color: darkorange;
    font-family: 'Times New Roman', Times, serif;

    
}
.contact{
    background-color: coral;

}
.rest{
    background-color: darkkhaki;
}
.cuisine{
    background-color: darkolivegreen;
}